<% if (errors.length > 0) { %>
  <ul class="errors">
    <% errors.forEach(error => { %>
      <li class="error">
        <p class="message">
          <%= error.msg %>
        </p>
      </li>
    <% }) %>
  </ul>
<% } %>