<% if (gameErrors.length > 0) { %>
  <ul class="errors">
    <% gameErrors.forEach(gameError => { %>
      <li class="error">
        <p class="message">
          <%= gameError.msg %>
        </p>
      </li>
    <% }) %>
  </ul>
<% } %>